build/
lib/bme280.h
img/NotoSansCJK-Bold.ttc
img/OpenSans-ExtraBold.ttf
img/NotoSansMono-Bold.ttf
img/OpenSans-Bold.ttf
img/OpenSans-Regular.ttf
img/ArundinaSansMono-Bold.ttf
img/FreeMonoBold.ttf
img/UbuntuMono-B.ttf
